@import "tailwindcss";

/* Opcional: Estilos para ocultar barra de scroll como en la app original */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
